<% include ../includes/header %>

<% if (page.logged_in) { %>
	<div class="container">
		<div class="page-header">
			<h1>Dashboard</h1>
		</div>
		<div class="container">
			<% if (page["application"]["submitted"] == true) { %>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">Thanks for submitting!</h2>
							</div>
							<div class="panel-body">
								<p>You'll hear back from us shortly.</p>
							</div>
						</div>
					</div>
				</div>
			<% } else { %>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">Welcome</h2>
							</div>
							<div class="panel-body">
								<p>Fill out your application below.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">Profile</h2>
							</div>
							<div class="panel-body">
								<% if (page.csrf_token) { %>
									<div id="part1_msg"></div>
									<form accept-charset="UTF-8" action="javascript:update_application();" id="update_application" onsubmit="update_application();return false;">
										<div class="row">
											<div class="col-sm-12 form-group">
												<label class="col-sm-12" for="first_name"><small>Name</small></label>
												<div class="col-sm-6">
													<input class="form-control" type="text" required name="first_name" id="first_name" placeholder="First Name" autocomplete="off" autofocus<% if ("first_name" in page["application"]) { %> value="<%= page["application"]["first_name"] %>"<% } %> />
												</div>
												<div class="col-sm-6">
													<input class="form-control" type="text" required name="last_name" id="last_name" placeholder="Last Name" autocomplete="off"<% if ("last_name" in page["application"]) { %> value="<%= page["application"]["last_name"] %>"<% } %> />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 form-group">
												<label class="col-sm-12" for="gender"><small>Gender</small></label>
												<div class="col-sm-12">
													<select name="gender" id="gender" class="selectpicker" data-width="100%">
														<option value="female"<% if ("gender" in page["application"] && page["application"]["gender"] == "female") { %> selected<% } %>>Female</option>
														<option value="male"<% if ("gender" in page["application"] && page["application"]["gender"] == "male") { %> selected<% } %>>Male</option>
													</select>
												</div>
											</div>
										</div>
										<hr />
										<div class="row">
											<div class="col-sm-12 form-group">
												<label class="col-sm-12" for="location"><small>Location Traveling From</small></label>
												<div class="col-sm-12">
													<input class="form-control" type="text" name="location" id="location" placeholder="Location Traveling From" autocomplete="off"<% if ("location" in page["application"]) { %> value="<%= page["application"]["location"] %>"<% } %> />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 form-group">
												<label class="col-sm-12" for="school"><small>School</small></label>
												<div class="col-sm-12">
													<input class="form-control" type="text" name="school" id="school" placeholder="School" autocomplete="off"<% if ("school" in page["application"]) { %> value="<%= page["application"]["school"] %>"<% } %> />
												</div>
											</div>
										</div>
										<hr />
										<div class="row">
											<div class="col-sm-12 form-group">
												<label class="col-sm-12" for="email"><small>Email</small></label>
												<div class="col-sm-12">
													<input class="form-control" type="email" required name="email" id="email" placeholder="Email" autocomplete="off"<% if ("email" in page["application"]) { %> value="<%= page["application"]["email"] %>"<% } %> />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 form-group">
												<div class="col-sm-12">
													<center>
														<input type="submit" class="btn btn-primary" value="Update" />
													</center>
												</div>
											</div>
										</div>
								<% } else { %>
									<div class="alert alert-danger">
										<p>Sorry, editing your application is not possible at this moment.</p>
									</div>
								<% } %>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">Application</h2>
							</div>
							<div class="panel-body">
								<% if (page.csrf_token) { %>
									<div id="part2_msg"></div>
										<div class="row">
											<div class="col-sm-12 form-group">
												<label class="col-sm-12" for="question1"><small>Why do you want to attend InFuture? (200 word limit)</small></label>
												<div class="col-sm-12">
													<textarea class="form-control" name="question1" id="question1" placeholder="Why do you want to attend InFuture?"><% if ("question1" in page["application"]) { %><%= page["application"]["question1"] %><% } %></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 form-group">
												<label class="col-sm-12" for="question2"><small>What are some cool things you've done (doesn't have to be computer science)? (200 word limit)</small></label>
												<div class="col-sm-12">
													<textarea class="form-control" name="question2" id="question2" placeholder="What are some cool things you've done?"><% if ("question2" in page["application"]) { %><%= page["application"]["question2"] %><% } %></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 form-group">
												<label class="col-sm-12" for="question3"><small>Is there anything else you want us to know? (optional, 200 word limit)</small></label>
												<div class="col-sm-12">
													<textarea class="form-control" name="question3" id="question3" placeholder="Is there anything else you want us to know?"><% if ("question3" in page["application"]) { %><%= page["application"]["question3"] %><% } %></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 form-group">
												<div class="col-sm-12">
													<center>
														<input type="submit" class="btn btn-primary" value="Update" />
													</center>
												</div>
											</div>
										</div>
									</form>
								<% } else { %>
									<div class="alert alert-danger">
										<p>Sorry, editing your application is not possible at this moment.</p>
									</div>
								<% } %>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">Submit</h2>
							</div>
							<div class="panel-body">
								<% if (page.csrf_token) { %>
									<div id="submit_msg"></div>
									<p>Are you really done? If you want to double-check, do it now. You won't be able to edit after you submit.</p>
									<center>
										<form accept-charset="UTF-8" action="javascript:submit_application();" id="submit_application" onsubmit="submit_application();return false;">
											<input type="hidden" name="_csrf" value="<%= page.csrf_token %>" />
											<input type="submit" class="btn btn-lg btn-danger" value="Submit!" />
										</form>
									</center>
								<% } else { %>
									<div class="alert alert-danger">
										<p>Sorry, editing your application is not possible at this moment.</p>
									</div>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		</div>
	</div>
	
	<script type="text/javascript">
		var update_application = function(callback) {
			var disable = "input, button[type=submit], textarea";
			$(disable).attr("disabled", "disabled");
			var data = {
				"first_name": $("#first_name").val(),
				"last_name": $("#last_name").val(),
				"gender": $("#gender").val(),
				"location": $("#location").val(),
				"school": $("#school").val(),
				"email": $("#email").val(),
				"question1": $("#question1").val(),
				"question2": $("#question2").val(),
				"question3": $("#question3").val(),
			};
			data["_csrf"] = "<%- page.csrf_token %>";
			$.post("/api/application/save", data, function(result) {
				display_message("#part1_msg, #part2_msg", (result.success == 1 ? "success" : "danger"), result.message, function() {
					/* if (result.success == 1) { location.href = "/dashboard"; }
					else { $(disable).removeAttr("disabled"); /* grecaptcha.reset(); } */
					$(disable).removeAttr("disabled");
					callback();
				});
			});
		};

		var submit_application = function() {
			if (confirm("Are you sure you want to submit?")) {
				update_application(function() {
					$.post("/api/application/submit", { "_csrf": "<%- page.csrf_token %>" }, function(result) {
						display_message("#submit_msg", (result.success == 1 ? "success" : "danger"), result.message, function() {
							if (result["success"] == 1) {
								location.reload(true);
							}
						});
					});
				});
			}
		};
	</script>
<% } else { %>
	<script type="text/javascript">
		location.href = "/login";
	</script>
<% } %>

<% include ../includes/footer %>